.formConectarDB input{
    margin: 10px;
}

.table.table-bordered .fila:hover{
    background-color: #dcdcdc;
    cursor: pointer;
}
#dataTable thead{
    cursor: pointer;
}
.botonAdd{
    width: 30px;
    height: 30px;
    background-color: var(--blue);
    color: white;
    font-size: large;
    border: none;
    border-radius: 15px;

}
.botonAdd:hover{
    background-color: #224abe;

}